<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SplitView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7525F20F1D36B5B5000DD4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7525F2231D36B5B6000DD4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7525F22E1D36B5B6000DD4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DBBE421D6B7BCF003F3F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
